/*  define global variables */
$boarder-color: #018786; /*  boardee color commonly used */
$nav-color: #004F98; /*  Navigation bar color */
$constant-padding: 10px; /*  constant padding for styling */
$font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /*  font used for list */
$positions: (
    "leftPosition": left,
    "rightPosition": right
);